.icons{
    text-align: center;
    border: 10px solid black;
    border-radius: 20px;
    opacity: 0.2;
    padding: 8px;
    min-width: 100px;
    margin: 0 8px 0 0;
}

#switch{
    position: absolute;
    right: 0;
    width: 100px;
    height: 100px;
    font-family:"impact",monospac,serif;
    font-size: 1em;
    background-color: white;
}

#logo{
	position: absolute;
    font-size: 1.2em;
    font-family: "impact",monospac,serif;
    background-color: white;
}