*{
        box-sizing-border-box;
        font-family: arial
}

html, body{
	width: 100%;
	height: 100%;
        text-align: center;
}

.nav > a{
        color: black;
        text-decoration: none;
        margin: 1em 2em;    
        font-weight: bolder;
}

.nav{
        border-bottom: 3px solid black;
        padding: 1em;
        min-width: 500px;
}

.main-container{
        min-width: 700px;
        min-height: 400px;
	width: 60%;
	height: 70%;
	display: inline-block;
}

.w-30{
        width: 30%;
}

.w-40{
        width: 40%;
}
.w-60{
        width: 60%;
}
.w-80{
        width: 80%;
}
.w-90{
        width: 90%;
}
.w-100{
        width: 100%;
}
.h-auto{
        height: auto;
}
.h-100{
        height: 100%;
}
.h-95{
        height: 95%;
}
.h-90{
        height: 90%;
}
.h-80{
        height: 80%;
}
.h-60{
        height: 60%;
}
.h-40{
        height: 40%;
}
.h-20{
        height: 20%;
}

.d-ib{
        display: inline-block;
        margin: 0;
        padding: 0;
}

.fl-l{
        float: left;
}

.fl-r{
        float: right;
}

.message{
        font-size: 2.5em;
        font-family: arial;
        font-weight: bolder;
        padding: 5% 0;
/*        overflow: hidden;*/
}

.fs-1em{
        font-size: 1.5em;
}

.t-40{
        margin: 0;
        position: relative;
        top: 40%;
}

.c-b{
        color: black;
}

.c-r{
        color: red;
}

.c-w{
        color: white;
}

.shadow{
        width: 100%;
        height: 100%;
        box-shadow: -3px 3px 8px 4px #ccc;
}


.b-r50{
        border-radius: 50%;
}

.bg-w{
        background: white;
}

.m-1em{
        margin: 1em;
}

.ta-c{
        text-align: center;
}

.d-b{
        display: block;
}

.fs-6em{
        font-size: 6em;
        margin: 1em 0em;
}

.buttons{
        width: 15em;
        height: 15em;
        margin: 2em;
        border-radius: 10%;
        background: orange;
        display: inline-block;
        cursor: pointer;
}

.link{
        width: 15em;
        height: 15em;
        margin: 2em;
        border-radius: 10%;
        background: orange;
        display: inline-block;
        cursor: pointer;
        text-decoration: none
}

.va-m{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
}
