/*------------------------------------*/

.message{
	margin: 0 0 0.5em 0;
	display: none;
	transform: translateY(100px);
	transition: transform 1s;
}
/*------------------------------------*/

.nav-item{
	color: white;
	display: inline-block;
	margin: 0em 1em;
	text-decoration: none;
	font-weight: bolder;
	font-size: 1.75vh;
}

.pic-frame{
	border: 2px solid black;
	border-radius: 50%;
	margin: 2em;
}

/*@media screen and (min-width: 690px) {
	.pic-frame{
		float: right;
	}
}*/

@media screen and (orientation:landscape){
	.square{
		height: auto;
		min-height: 40vw;
		width: 60vw;
		display: inline-block;
	}

	.wrapper{
		width: 60vw;
		display: inline-block;
	}
}

@media screen and (orientation:portrait){	
	.square{
		height: auto;
		min-height: 100vw;
		width: 100vw;
		display: inline-block;
	}

	.wrapper{
		width: 100vw;
	}
}



.test{
	perspective: 800px;
}

.test-c{
	transform: translateZ(-50000px);
}

.test:hover .test-c{
	transform: translateZ(0px);
	transition: all 1s ease;
}