@font-face {
font-family: viga;
src: url("../font/Viga-Regular.otf") format("opentype");
}

html, body{
	width: 100%;
	height: 100%;
	font-family: viga;
	letter-spacing: 0.15em
}

.w-100pc{
	width: 100%;
}

.w-50pc{
	width: 50%;
}

.h-8pc{
	height: 8%;
}

.h-60pc{
	height: 60%;
}

.h-40pc{
	height: 40%;
}
.h-100pc{
	height: 100%;
}

.bg-grey{
	background: rgba(59, 59, 59);
}

.bg-grey{
	background: #3b3b3b;
;
}

.bg-grn{
	background: green;
}

.va-m{
	height: 100%;
	display: flex;
	align-items: center;
}

.c-wht{
	color: white;
}

.fl-r{
	float:right;
}

.nav-item{
	color: white;
	display: inline-block;
	margin: 0em 1em;
	text-decoration: none;
	font-weight: bolder;
}

.full-size{
	width: 100%;
	height: 100%;
	min-width: 750px;
	min-height: 650px;
}

.fs-4vh{
	font-size: 4vh;
	font-size: 3vh;
	font-weight: bold;
}

.message{
	margin: 0 0 0.5em 0;
	display: none;
	transform: translateY(100px);
	transition: transform 1s;
}

.pd-3em{
	padding: 3em;
}

.ta-c{
	text-align: center;
}

.p-f{
	position: fixed
}

.letter-box{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 3vh;
	color: white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: black;
	font-weight: bolder;
	color: white;
	transition: transform 0.3s;
}

.front{
	z-index:2;
	opacity: 1;
	background: #595959;
}

.bottom{
	z-index: 1;
	opacity: 1;
	transform: translateY(3.4vh) rotateX(-90deg);
}

.front:hover{
	opacity: 0.2;
	z-index: 1;
	transform: translateY(-3.3vh) rotateX(90deg);
}

.front:hover ~ .bottom{
	opacity: 1;
	z-index: 2;
	transform: rotateX(0deg);
}

.bottom:hover{
	opacity: 1;
	z-index: 2;
	transform: rotateX(0deg);
}

.row{
	margin: 0 0 1em 0;
}

.persp-200px{
	width: 7vh;
	height: 7vh;
	perspective: 80vh;
	perspective-origin: 50% 7vh;
	display: inline-block;
}

.c-trsp{
	color: transparent;
}

.pd-t-10pc{
	padding-top: 10%;
}

.zi-3{
	z-index: 3;
}

.op-08{
	opacity: 0.8;
}

.d-ib{
	display: inline-block;
}

.brd-10px{
	border: solid black 10px;
	padding: 2px;
}

.fs-20px{
	font-size: 20px;
}

.d-b{
	display: block;
}
