*{box-sizing: border-box;}

html,body{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
}
canvas{
    position:absolute; 
}

#content{
    padding: 1%;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center;
}

.icons{
    text-align: center;
    border: 10px solid black;
    border-radius: 20px;
    opacity: 0.2;
    padding: 8px;
    display: table;
    min-width: 100px;
}

#logo{
    float: left;
    font-size: 1.2em;
    font-family: "impact",monospac,serif;
    background-color: white;
}

#tabs{
    min-width: 500px;
    float: right;
}

#tabs>div{
    display: inline-block;
    font-size: 1.2em;
    font-family: "impact",monospac,serif;
    background-color: white;
}

#tabs>div>a{
    color: black;
    text-decoration: none;
}

section{
    width: 100%;
    position: absolute;
    z-index: 0;
}

#wrapper{
    flex:1 1 auto;
    width: 100%;
}

@font-face{
    font-family:"chalk";
    src: url("../font/chalk.ttf") format('truetype');
}
@font-face{
    font-family: "impact";
    src: url("../font/impact.ttf") format('truetype');
}

.message{
    padding-top: 25%;
    text-align: center;
    position: relative;
    font-size: 2em;
    font-family: "chalk",monospace,"Khand", sans-serif;
    font-weight: bolder;
}


#footer{
    text-align:center; 
    width: 100%;
    opacity: 0.4;
}

td{
    display:inline-block;
    margin:2%;
}

td a:hover{
    bottom:0.4em;
}

td>a{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 10px solid white;
    border-radius: 20px;
    margin: 4%;
    color: white;
    position: relative;
    text-decoration: none;
    padding-top:10px;
}

#linkedin{
    background-color: #574FB4;
    font-size: 3em;
    font-weight: bolder;
    font-family: sans-serif,"teko";
}

#twitter{
    background-color:#55acee;
    font-size: 3em;
    font-family: "impact",fantasy, "khand";
}

#google{
    background-color: #d73d32;
    font-size: 2.5em;
    font-family: serif;
}

#git{
    background-color:black;
    font-size:1.5em;
    font-family: "impact",fantasy,"khand","teko";
    padding-top:25px;
}

#note{
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-weight: bold;
    font-size: 12px;
    opacity: 0.8;
}

#note>a{
    text-decoration: none;
    font-weight: bolder;
}

#switch{
    position: absolute;
    width: 100px;
    height: 100px;
    font-family:"impact",monospac,serif;
    font-size: 1em;
    left: 90%;
    bottom: 40px;
    margin: 0;
}
