<div class="w-80 d-ib bg-w ta-c">
    <div class="w-40 ta-c d-ib">
        <img src='img/me.png' class="b-r50 b-1em d-ib m-1em">
        <p class="d-b">I am passionate about simplicity. A simple design or simple process to get things done are ideas that I value the most. This is the reason why I decided to learn coding and to dedicate myself in a career that simplify things.</p>
    </div>
</div>
<div class = "w-80 fs-6em d-ib">Projects</div>

<div id = "projects" class="w-80 h-auto d-ib">
    <div class = "buttons" id = "sudoku.html"><p class="va-m">Sudoku Solver</p></div>
    <div class = "buttons" id = "canvas.html"><p class="va-m">HTML Canvas</p></div>
</div>
<script type="text/javascript">
    var buttons = select('#projects');
    buttons.addEventListener("click",function(event){
        var template = event.target.id;
        if (event.target.class === "buttons"){
            render("./templates/"+template);
        }
    })
</script>